.conversion {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 50px 0 20px 0;
}

.conversion i {
	font-size: 32px;
	color: rgb(85, 85, 85);
	padding: 20px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.conversion i:hover {
	background-color: rgb(235, 235, 235);
	transition: all 0.2s ease-in-out;
}

.con-value {
	height: 100%;
	width: 100%;
}

.con-value input {
	width: 100%;
	height: 60%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border: transparent;
	background-color: transparent;
	border-bottom: transparent;
	font-size: 32px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	font-family: ProductSansRegular;
}

.con-value input:focus {
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.3s ease-in-out;
}

.con-value input:focus,
.con-value select {
	outline: none;
}

.con-value select {
	width: 100%;
	height: 40%;
	padding: 0px 10px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border: transparent;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 18px;
	text-transform: capitalize;
	font-family: ProductSansRegular;
}

.history {
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.history-grid {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.history h1 {
	font-size: 40px;
	margin: 50px 0 10px 0;
}

.history-item {
	width: 30%;
	height: 75px;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 5px 20px rgba(166, 173, 201, 0.2);
	margin: 10px 0;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
