@font-face {
	font-family: ProductSansRegular;
	src: url(./assets/fonts/ProductSansRegular.ttf);
}
@font-face {
	font-family: Bebas;
	src: url(./assets/fonts/Bebas-Regular.ttf);
}
@font-face {
	font-family: BebasNeue;
	src: url(./assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
	font-family: CODE;
	src: url(./assets/fonts/CODEBold.otf);
}
@font-face {
	font-family: CODEL;
	src: url(./assets/fonts/CODELight.otf);
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	font-family: ProductSansRegular;
}

.SideBar {
}

.Switch {
}
